<header class="s-header header">

    <div class="header__top">
        <div class="header__logo">
            <a class="logo-text" href="../index.html">
                Data Independence Network
            </a>
        </div>
        <!-- toggles -->
        <a href="#0" class="header__menu-toggle"><span>Menu</span></a>
    </div>

    <nav class="header__nav-wrap">

        <ul class="header__nav">
            <li><a href="../index.html" title="">Home</a></li>
            <li class="has-children current">
                <a href="./index.html" title="" class="sub-menu-is-open">Blog</a>
                <ul class="sub-menu" style="display: block;">
                    <li><a href="./2021/Highway_The_Beginning.html">Highway - The Beginning</a></li>
                    <li><a href="./2020/Transactionality.html">Transactionality</a></li>
                    <li><a href="./2020/Its_your_way_or_the_Highway.html">Highway</a></li>
                    <li><a href="./2020/Air_Tower.html">Air Tower</a></li>
                    <li><a href="./2020/Airport_in_Cordova.html">Airport in Cordova</a></li>
                    <li><a href="./2020/Build_time_Queries.html">Build time Queries</a></li>
                    <li><a href="./2020/Verifying_Persistence.html">Verifying Persistence</a></li>
                    <li><a href="./2019/First_Application.html">First Application</a></li>
                    <li><a href="https://autonomous-interdependent-repositories.blog">Previous</a>
                    </li>
                </ul>
            </li>
        </ul> <!-- end header__nav -->

        <ul class="header__social">
            <li class="ss-github">
                <a href="https://github.com/artem-v-shamsutdinov/airport">
                    <span class="screen-reader-text">Github</span>
                </a>
            </li>
        </ul>

    </nav> <!-- end header__nav-wrap -->

</header>
