/* =================================================================== 
 *
 *  Typerite Main Stylesheet
 *  Template Ver. 1.0.0
 *  05-17-2019
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  # base style overrides
 *      ## links    
 *  # typography & general theme styles
 *      ## typography
 *      ## Lists    
 *      ## responsive video container
 *      ## floated image
 *      ## tables
 *      ## Spacing
 *  # preloader
 *  # forms
 *      ## Style Placeholder Text
 *      ## Change Autocomplete styles in Chrome
 *  # buttons
 *  # additional components
 *      ## additional typo styles
 *      ## skillbars
 *      ## alert box 
 *      ## pagination 
 *  # Common and Reusable Styles
 *      ## animation stuff 
 *      ## entry media
 *      ## listing header
 *      ## slick slider 
 *      ## masonry entries 
 *      ## post formats - masonry view
 *  # site header
 *      ## header logo
 *      ## header main navigation
 *      ## menu toggle
 *      ## header social
 *      ## header search trigger
 *      ## header-search
 *      ## close button for search 
 *  # site content & footer 
 *      ## content
 *      ## footer
 *      ## copyright
 *      ## go to top
 *  # blog styles and blog components
 *      ## entry header meta
 *      ## post tags
 *      ## blog single page navigation
 *      ## related articles
 *      ## comments
 *      ## format gallery
 *
 * =================================================================== */

/* ===================================================================
 * # base style overrides
 *
 * ------------------------------------------------------------------- */
html {
  font-size: 10px;
}

@media screen and (max-width:400px) {
  html {
    font-size: 9.210526315789474px;
  }

}

html,
body {
  height: 100%;
}

body {
  background: #f6f7f8;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.789;
  color: #000000;
  margin: 0;
  padding: 0;
}

body.nav-wrap-is-visible {
  overflow: hidden;
}

body.ss-bg-white {
  background: #ffffff;
}

/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */
a {
  color: #33998a;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #da5260;
}

a.logo-text:hover,
a.logo-text:focus,
a.logo-text:active {
  color: #ffffff;
}

a:hover,
a:active {
  outline: 0;
}


/* ===================================================================
 * # typography & general theme styles
 * 
 * ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- 
 * ## typography
 * ------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 6rem;
  margin-bottom: 1.6rem;
}

@media screen and (max-width:600px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 5.6rem;
  }

}

h5, .h5, h6, .h6 {
  margin-top: 4.8rem;
  margin-bottom: 1.2rem;
}

@media screen and (max-width:600px) {
  h5, .h5, h6, .h6 {
    margin-top: 4.4rem;
    margin-bottom: 0.8rem;
  }

}

h1, .h1 {
  font-size: 3.6rem;
  line-height: 1.222;
}

@media screen and (max-width:600px) {
  h1, .h1 {
    font-size: 3.3rem;
  }

}

h2, .h2 {
  font-size: 3rem;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 2.4rem;
  line-height: 1.167;
}

h4, .h4 {
  font-size: 2.1rem;
  line-height: 1.333;
}

h5, .h5 {
  font-size: 1.8rem;
  line-height: 1.333;
}

h6, .h6 {
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
}

p img {
  margin: 0;
}

p.lead {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.833;
  margin-bottom: 3.6rem;
  color: #000000;
}

@media screen and (max-width:1200px) {
  p.lead {
    font-size: 2.2rem;
  }

}

@media screen and (max-width:600px) {
  p.lead {
    font-size: 2.1rem;
  }

}

em,
i,
strong,
b {
  font-size: inherit;
  line-height: inherit;
}

em,
i {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
}

strong,
b {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

small {
  font-size: 1.2rem;
  line-height: inherit;
}

blockquote {
  margin: 4rem 0;
  padding: 4rem 4rem;
  border-left: 4px solid black;
  position: relative;
}

@media screen and (max-width:600px) {
  blockquote {
    padding: 3.2rem 3.2rem;
  }

}

@media screen and (max-width:400px) {
  blockquote {
    padding: 2.8rem 2.8rem;
  }

}

blockquote p {
  font-family: "Lora", serif;
  font-weight: 400;
  padding: 0;
  font-size: 2.4rem;
  line-height: 1.833;
  color: #000000;
}

@media screen and (max-width:500px) {
  blockquote p {
    font-size: 2.2rem;
  }

}

blockquote cite {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.333;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite,
blockquote cite a,
blockquote cite a:visited {
  color: #7e7e7e;
  border: none;
}

abbr {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.05rem;
  color: #7e7e7e;
}

var,
kbd,
samp,
code,
pre {
  font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
  padding: 2.4rem 3.2rem 3.2rem;
  background: #efefef;
  overflow-x: auto;
}

code {
  font-size: 1.4rem;
  margin: 0 0.2rem;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  background: #efefef;
  border: 1px solid #d3d3d3;
  color: #000000;
  border-radius: 3px;
}

pre > code {
  display: block;
  white-space: pre;
  line-height: 2;
  padding: 0;
  margin: 0;
}

pre.prettyprint > code {
  border: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

mark {
  background: #fff099;
  color: #000000;
}

hr {
  border: solid #e0e0e0;
  border-width: 1px 0 0;
  clear: both;
  margin: 2.4rem 0 1.6rem;
  height: 0;
}

/* ------------------------------------------------------------------- 
 * ## Lists
 * ------------------------------------------------------------------- */
ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ol, ul {
  margin-left: 1.6rem;
}

ul li {
  padding-left: 0.4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0.8rem 0 0.8rem 1.6rem;
}

ul.disc li {
  display: list-item;
  list-style: none;
  padding: 0 0 0 0.8rem;
  position: relative;
}

ul.disc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #33998a;
  position: absolute;
  left: -16px;
  top: 11px;
  vertical-align: middle;
}

dt {
  margin: 0;
  color: #33998a;
}

dd {
  margin: 0 0 0 2rem;
}

/*
  Logo text
 */
.logo-text {
  width: 100%;
  height: 100%;
  color: white;
}

/*
  Logo text
 */
.logo-text:hover {
  font-size: 1.85rem;
}


/* ------------------------------------------------------------------- 
 * ## responsive video container
 * ------------------------------------------------------------------- */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------------------- 
 * ## floated image
 * ------------------------------------------------------------------- */
img.pull-right {
  margin: 1.2rem 0 0 2.8rem;
}

img.pull-left {
  margin: 1.2rem 2.8rem 0 0;
}

/* ------------------------------------------------------------------- 
 * ## tables
 * ------------------------------------------------------------------- */
table {
  border-width: 0;
  width: 100%;
  max-width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  border-collapse: collapse;
}

th,
td {
  padding: 1.5rem 3.2rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th {
  color: #000000;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * ## Spacing 
 * ------------------------------------------------------------------- */
button,
.btn {
  margin-bottom: 1.6rem;
}

fieldset {
  margin-bottom: 1.6rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.video-container,
.ss-custom-select {
  margin-bottom: 3.2rem;
}


/* ===================================================================
 * # preloader
 *
 * ------------------------------------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 500;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  padding: 0;
  display: inline-block;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#loader > div {
  content: "";
  background: #000000;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#loader > div:nth-of-type(1) {
  left: 15px;
}

#loader > div:nth-of-type(3) {
  left: -15px;
}

/* dots jump */
.dots-jump > div {
  -webkit-animation: dots-jump 1.2s infinite ease;
  animation: dots-jump 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-jump > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-jump > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }

}

@keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }

}

/* dots fade */
.dots-fade > div {
  -webkit-animation: dots-fade 1.6s infinite ease;
  animation: dots-fade 1.6s infinite ease;
  animation-delay: 0.4s;
}

.dots-fade > div:nth-of-type(1) {
  animation-delay: 0.8s;
}

.dots-fade > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

}

@keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

}

/* dots pulse */
.dots-pulse > div {
  -webkit-animation: dots-pulse 1.2s infinite ease;
  animation: dots-pulse 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-pulse > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-pulse > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}



/* ===================================================================
 * # forms 
 *
 * ------------------------------------------------------------------- */
fieldset {
  border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  height: 6.4rem;
  padding: 1.6rem 0 1.5rem;
  border: 0;
  outline: none;
  color: #000000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;
  max-width: 100%;
  background: transparent;
  border-bottom: 1px solid #c3c3c3;
  transition: all 0.3s ease-in-out;
}

.ss-custom-select {
  position: relative;
  padding: 0;
}

.ss-custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  margin: 0;
  line-height: 3rem;
  vertical-align: middle;
}

.ss-custom-select select option {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ss-custom-select select::-ms-expand {
  display: none;
}

.ss-custom-select::after {
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  margin-top: -7px;
  pointer-events: none;
  position: absolute;
  right: 2.4rem;
  top: 50%;
  transition: all 0.15s ease-in-out;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

textarea {
  min-height: 25.6rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}

label,
legend {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.714;
  color: #000000;
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-text {
  display: inline-block;
  margin-left: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: inherit;
}

label > input[type="checkbox"],
label > input[type="radio"] {
  margin: 0;
  position: relative;
  top: 0.2rem;
}

/* ------------------------------------------------------------------- 
 * ## Style Placeholder Text
 * ------------------------------------------------------------------- */
::-webkit-input-placeholder {

  /* WebKit, Blink, Edge */
  color: #8c8c8c;
}

:-moz-placeholder {

  /* Mozilla Firefox 4 to 18 */
  color: #8c8c8c;
  opacity: 1;
}

::-moz-placeholder {

  /* Mozilla Firefox 19+ */
  color: #8c8c8c;
  opacity: 1;
}

:-ms-input-placeholder {

  /* Internet Explorer 10-11 */
  color: #8c8c8c;
}

::-ms-input-placeholder {

  /* Microsoft Edge */
  color: #8c8c8c;
}

::placeholder {

  /* Most modern browsers support this now. */
  color: #8c8c8c;
}

.placeholder {
  color: #8c8c8c !important;
}

/* ------------------------------------------------------------------- 
 * ## Change Autocomplete styles in Chrome
 * ------------------------------------------------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #33998a;
  transition: background-color 5000s ease-in-out 0s;
}



/* ===================================================================
 * # buttons
 *
 * ------------------------------------------------------------------- */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  height: 6rem;
  line-height: 5.6rem;
  padding: 0 3.2rem;
  margin: 0 0.4rem 1.6rem 0;
  color: #000000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
  border: 0.2rem solid #d3d3d3;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #c3c3c3;
  border-color: #c3c3c3;
  color: #000000;
  outline: 0;
}

/* button primary
 * ------------------------------------------------- */
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus {
  background: #33998a;
  border-color: #33998a;
}

/* button modifiers
 * ------------------------------------------------- */
.btn.full-width,
button.full-width {
  width: 100%;
  margin-right: 0;
}

.btn--medium,
button.btn--medium {
  height: 6.4rem !important;
  line-height: 6rem !important;
}

.btn--large,
button.btn--large {
  height: 6.8rem !important;
  line-height: 6.4rem !important;
}

.btn--stroke,
button.btn--stroke {
  background: transparent !important;
  border: 0.2rem solid #000000;
  color: #000000;
}

.btn--stroke:hover,
button.btn--stroke:hover {
  background: #000000 !important;
  border: 0.2rem solid #000000;
  color: #ffffff;
}

.btn--pill,
button.btn--pill {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
  border-radius: 1000px !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}



/* =================================================================== 
 * # additional components
 *
 * ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- 
 * ## additional typo styles 
 * ------------------------------------------------------------------- */

/* drop cap 
 * ----------------------------------------------- */
.drop-cap:first-letter {
  float: left;
  margin: 0;
  padding: 1.6rem 0.8rem 0 0;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 8.6rem;
  line-height: 6rem;
  text-indent: 0;
  background: transparent;
  color: #000000;
}

/* line definition style 
 * ----------------------------------------------- */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}

.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}

.lining dd + dd:before {
  content: ", ";
}

.lining dd + dd:before {
  content: ", ";
}

.lining dd:before {
  content: ": ";
  margin-left: -0.2em;
}

/* dictionary definition style 
 * ----------------------------------------------- */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}

.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2em;
}

.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}

.dictionary-style dd:before {
  content: counter(definitions, decimal) ". ";
}

/** 
 * Pull Quotes
 * -----------
 * markup:
 *
 * <aside class="pull-quote">
 *    <blockquote>
 *      <p></p>
 *    </blockquote>
 *  </aside>
 *
 * --------------------------------------------------------------------- */
.pull-quote {
  position: relative;
  padding: 2.4rem 0;
}

.pull-quote blockquote {
  background-color: #efefef;
  border: none;
  margin: 0;
  padding-top: 9.6rem;
  position: relative;
}

.pull-quote blockquote:before {
  content: "";
  display: block;
  height: 3.2rem;
  width: 3.2rem;
  background-repeat: no-repeat;
  background: center center;
  background-size: contain;
  background-image: url(../images/icons/icon-quote.svg);
  position: absolute;
  top: 4rem;
  left: 4rem;
}

/** 
 * Stats Tab
 * ---------
 * markup:
 *
 * <ul class="stats-tabs">
 *    <li><a href="#">[value]<em>[name]</em></a></li>
 *  </ul>
 *
 * Extend this object into your markup.
 *
 * --------------------------------------------------------------------- */
.stats-tabs {
  padding: 0;
  margin: 3.2rem 0;
}

.stats-tabs li {
  display: inline-block;
  margin: 0 1.6rem 3.2rem 0;
  padding: 0 1.5rem 0 0;
  border-right: 1px solid #d3d3d3;
}

.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.stats-tabs li a {
  display: inline-block;
  font-size: 2.5rem;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  border: none;
  color: #000000;
}

.stats-tabs li a:hover {
  color: #33998a;
}

.stats-tabs li a em {
  display: block;
  margin: 0.8rem 0 0 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  color: #7e7e7e;
}

/* ------------------------------------------------------------------- 
 * ## skillbars
 * ------------------------------------------------------------------- */
.skill-bars {
  list-style: none;
  margin: 6.8rem 0 3.2rem;
}

.skill-bars li {
  height: 0.4rem;
  background: #c3c3c3;
  width: 100%;
  margin-bottom: 6.8rem;
  padding: 0;
  position: relative;
}

.skill-bars li strong {
  position: absolute;
  left: 0;
  top: -4rem;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.skill-bars li .progress {
  background: #000000;
  position: relative;
  height: 100%;
}

.skill-bars li .progress span {
  position: absolute;
  right: 0;
  top: -3.6rem;
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1;
  background: #000000;
  padding: 0.8rem 0.8rem;
  border-radius: 3px;
}

.skill-bars li .progress span::after {
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #000000;
  content: "";
}

.skill-bars li .percent5 {
  width: 5%;
}

.skill-bars li .percent10 {
  width: 10%;
}

.skill-bars li .percent15 {
  width: 15%;
}

.skill-bars li .percent20 {
  width: 20%;
}

.skill-bars li .percent25 {
  width: 25%;
}

.skill-bars li .percent30 {
  width: 30%;
}

.skill-bars li .percent35 {
  width: 35%;
}

.skill-bars li .percent40 {
  width: 40%;
}

.skill-bars li .percent45 {
  width: 45%;
}

.skill-bars li .percent50 {
  width: 50%;
}

.skill-bars li .percent55 {
  width: 55%;
}

.skill-bars li .percent60 {
  width: 60%;
}

.skill-bars li .percent65 {
  width: 65%;
}

.skill-bars li .percent70 {
  width: 70%;
}

.skill-bars li .percent75 {
  width: 75%;
}

.skill-bars li .percent80 {
  width: 80%;
}

.skill-bars li .percent85 {
  width: 85%;
}

.skill-bars li .percent90 {
  width: 90%;
}

.skill-bars li .percent95 {
  width: 95%;
}

.skill-bars li .percent100 {
  width: 100%;
}

/* ------------------------------------------------------------------- 
 * ## alert box 
 * ------------------------------------------------------------------- */
.alert-box {
  padding: 2.4rem 4rem 2.4rem 3.2rem;
  position: relative;
  margin-bottom: 3.2rem;
  border-radius: 3px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6;
}

.alert-box__close {
  position: absolute;
  display: block;
  right: 1.6rem;
  top: 1.6rem;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.alert-box__close::before,
.alert-box__close::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 12px;
  top: 0;
  left: 5px;
}

.alert-box__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alert-box__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.alert-box--error {
  background-color: #ffd1d2;
  color: #dd4043;
}

.alert-box--error .alert-box__close::before,
.alert-box--error .alert-box__close::after {
  background-color: #dd4043;
}

.alert-box--success {
  background-color: #c8e675;
  color: #637533;
}

.alert-box--success .alert-box__close::before,
.alert-box--success .alert-box__close::after {
  background-color: #637533;
}

.alert-box--info {
  background-color: #d5ebfb;
  color: #387fb2;
}

.alert-box--info .alert-box__close::before,
.alert-box--info .alert-box__close::after {
  background-color: #387fb2;
}

.alert-box--notice {
  background-color: #fff099;
  color: #827217;
}

.alert-box--notice .alert-box__close::before,
.alert-box--notice .alert-box__close::after {
  background-color: #827217;
}

/* -------------------------------------------------------------------
 * ## pagination 
 * ------------------------------------------------------------------- */
.pgn {
  margin: 3.2rem auto 3.2rem;
  text-align: center;
}

.pgn ul {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  position: relative;
  padding: 0 6rem;
}

.pgn ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pgn__num {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 3.2rem;
  display: inline-block;
  padding: 0.2rem 1.2rem;
  height: 3.6rem;
  margin: 0.2rem 0.2rem;
  color: #000000;
  transition: all, 0.3s, ease-in-out;
}

.pgn__num:hover {
  background: #d3d3d3;
  color: #000000;
}

.pgn .current,
.pgn .current:hover {
  background-color: #000000;
  color: white;
}

.pgn .inactive,
.pgn .inactive:hover {
  opacity: 0.4;
  cursor: default;
}

.pgn__prev,
.pgn__next {
  display: block;
  background-repeat: no-repeat;
  background-size: 18px 9px;
  background-position: center;
  height: 3.6rem;
  width: 4.8rem;
  line-height: 2rem;
  padding: 0;
  margin: 0;
  opacity: 1;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  transition: all, 0.2s, ease-in-out;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.pgn__prev:hover,
.pgn__next:hover {
  background-color: #d3d3d3;
}

.pgn__prev {
  background-image: url("../images/icons/icon-arrow-left.svg");
  left: 0;
}

.pgn__next {
  background-image: url("../images/icons/icon-arrow-right.svg");
  right: 0;
}

.pgn__prev.inactive,
.pgn__next.inactive {
  opacity: 0.4;
  cursor: default;
}

.pgn__prev.inactive:hover,
.pgn__next.inactive:hover {
  background-color: transparent;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * pagination
 * ------------------------------------------------------------------- */
@media screen and (max-width:600px) {
  .pgn ul {
    padding: 0 5.2rem;
  }

}



/* ===================================================================
 * # Common and Reusable Styles
 *
 * ------------------------------------------------------------------- */
.wide {
  max-width: 1400px;
}

.narrow {
  max-width: 1000px;
}

.display-1 {
  font-size: 5.6rem;
  line-height: 1.143;
  letter-spacing: -0.05rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

/* ------------------------------------------------------------------- 
 * ## animation stuff 
 * ------------------------------------------------------------------- */
.animate-this {
  opacity: 0;
  visibility: hidden;
}

.no-js .animate-this,
.no-cssanimations .animate-this {
  opacity: 1;
  visibility: visible;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* fade in */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

/* -------------------------------------------------------------------
 * ## entry media
 * ------------------------------------------------------------------- */
.media-wrap {
  margin-bottom: 7.2rem;
}

.media-wrap img,
.media-wrap .video-container {
  vertical-align: bottom;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* ------------------------------------------------------------------- 
 * ## listing header
 * ------------------------------------------------------------------- */
.listing-header {
  padding: 0 20px 2.4rem;
}

.listing-header h1 {
  margin-top: 0;
}

/* ------------------------------------------------------------------- 
 * ## slick slider 
 * ------------------------------------------------------------------- */
.slick-slider .slick-slide {
  outline: none;
}

.slick-slider .slick-dots {
  display: block;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 3rem 0 0 0;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
}

.slick-slider .slick-dots li {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 4px;
  cursor: pointer;
}

.slick-slider .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  line-height: 10px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.slick-slider .slick-dots li button:hover,
.slick-slider .slick-dots li button:focus {
  outline: none;
}

.slick-slider .slick-dots li.slick-active button,
.slick-slider .slick-dots li:hover button {
  background: #ffffff;
}

/* ------------------------------------------------------------------- 
 * ## masonry entries 
 * ------------------------------------------------------------------- */
.masonry {
  margin-bottom: 3.2rem;
}

.masonry:after {
  content: "";
  display: table;
  clear: both;
}

.masonry .grid-sizer,
.masonry__brick {
  float: left;
  width: 25%;
}

.masonry__brick {
  padding: 0 20px;
}

.masonry .entry {
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.5);
}

.masonry .entry__thumb {
  position: relative;
  overflow: hidden;
}

.masonry .entry__thumb-link img {
  vertical-align: bottom;
  transition: all 0.3s;
}

.masonry .entry__thumb-link::before {
  content: "";
  display: block;
  background: rgba(21, 21, 21, 0.6);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  z-index: 1;
}

.masonry .entry__thumb-link::after {
  content: "...";
  font-family: georgia, serif;
  font-size: 2.4rem;
  z-index: 1;
  display: block;
  height: 88px;
  width: 88px;
  letter-spacing: -1px;
  line-height: 88px;
  margin-left: -44px;
  margin-top: -44px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.masonry .entry__thumb:hover .entry__thumb-link::before {
  opacity: 1;
  visibility: visible;
}

.masonry .entry__thumb:hover .entry__thumb-link::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.masonry .entry__thumb:hover .entry__thumb-link img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.masonry .entry__text {
  padding: 3.2rem 2.8rem 4rem;
  background-color: #ffffff;
}

.masonry .entry__text p {
  margin-bottom: 0;
}

.masonry .entry__title {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.231;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.masonry .entry__title a {
  color: #000000;
}

.masonry .entry__title a:hover,
.masonry .entry__title a:focus {
  color: #267367;
}

.masonry .entry__excerpt {
  font-size: 1.7rem;
  line-height: 1.882;
}

.masonry .entry__meta {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 3.2rem;
}

.masonry .entry__meta span {
  margin-right: 10px;
}

.masonry .entry__meta span:last-child {
  margin-right: 0;
}

.masonry .entry__meta a {
  color: #000000;
}

.masonry .entry__meta a:hover,
.masonry .entry__meta a:focus {
  color: #33998a;
}

.masonry .entry__meta-cat a::after {
  content: ", ";
}

.masonry .entry__meta-cat a:last-child::after {
  display: none;
}

/* ------------------------------------------------------------------- 
 *  ## post formats - masonry view
 * ------------------------------------------------------------------- */

/* format quote & format link
 * --------------------------------------- */
.format-quote,
.format-link {
  text-align: center;
}

.format-quote .entry__thumb,
.format-link .entry__thumb {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
  padding: 2.4rem 3rem 5.6rem;
  min-height: 324px;
  width: 100%;
  position: relative;
}

.format-quote .entry__thumb::before,
.format-link .entry__thumb::before {
  content: "";
  display: block;
  height: 3.2rem;
  width: 3.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1.6rem;
  position: absolute;
  top: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.format-quote blockquote::before {
  display: none;
}

.format-quote blockquote,
.format-link .link-wrap {
  margin: 0;
  padding: 0;
  border: none;
}

.format-quote blockquote p,
.format-link .link-wrap h2 {
  font-family: "Heebo", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.429;
  color: #000000;
  padding: 8rem 0 0 0;
  margin-top: 0;
  margin-bottom: 3.2rem;
}

.format-quote cite,
.format-link cite {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.4);
}

.format-quote cite::before,
.format-link cite::before {
  display: none;
}

.format-quote cite a,
.format-quote cite a:visited {
  color: rgba(0, 0, 0, 0.4);
  border: none;
}

.format-quote .entry__thumb::before {
  background-image: url(../images/icons/icon-quote.svg);
}

.format-link .entry__thumb::before {
  background-image: url(../images/icons/icon-link.svg);
}

.format-link .link-wrap cite:before {
  display: none;
}

.format-link .link-wrap cite a,
.format-link .link-wrap cite a:visited {
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding-bottom: 0.3rem;
}

.format-link .link-wrap cite a:hover,
.format-link .link-wrap cite a:focus {
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* format video & format audio
 * --------------------------------------- */
.format-video .entry__thumb::after,
.format-audio .entry__thumb::after {
  content: "";
  display: block;
  height: 5.2rem;
  width: 5.2rem;
  position: absolute;
  bottom: 3.2rem;
  left: 2.4rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.format-video .entry__thumb-link::before,
.format-video .entry__thumb-link::after,
.format-audio .entry__thumb-link::before,
.format-audio .entry__thumb-link::after {
  display: none;
}

.format-video .entry__thumb::after {
  cursor: zoom-in;
  background-image: url(../images/icons/icon-video.svg);
  background-size: 3.2rem 3.2rem;
}

.format-video .entry__thumb-link {
  cursor: zoom-in;
}

.format-audio .entry__thumb::after {
  background-image: url(../images/icons/icon-audio.svg);
  background-size: 2.2rem 2.2rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * common and reusable styles
 * ------------------------------------------------------------------- */
@media screen and (max-width:1800px) {
  .masonry-wrap {
    max-width: 1260px;
  }

  .listing-header {
    padding: 0 1.6vw 2.4rem;
  }

  .masonry .grid-sizer,
  .masonry__brick {
    width: 33.33333%;
  }

  .masonry__brick {
    padding: 0 1.6vw;
  }

  .masonry .entry {
    margin-bottom: 3.2vw;
  }

}

@media screen and (max-width:1700px) {
  .masonry__brick {
    padding: 0 1.4vw;
  }

  .masonry .entry {
    margin-bottom: 2.8vw;
  }

}

@media screen and (max-width:1600px) {
  .listing-header {
    padding: 0 1.2vw 2.4rem;
  }

  .masonry__brick {
    padding: 0 1.2vw;
  }

  .masonry .entry {
    margin-bottom: 2.4vw;
  }

}

@media screen and (max-width:1500px) {
  .masonry-wrap {
    max-width: 900px;
  }

  .listing-header {
    padding: 0 1.8vw 2.4rem;
  }

  .masonry .grid-sizer,
  .masonry__brick {
    width: 50%;
  }

  .masonry__brick {
    padding: 0 1.8vw;
  }

  .masonry .entry {
    margin-bottom: 3.6vw;
  }

}

@media screen and (max-width:1400px) {
  .display-1 {
    font-size: 5.2rem;
  }

}

@media screen and (max-width:1100px) {
  .masonry-wrap,
  .listing-header {
    width: 89%;
    max-width: 900px;
    margin: 0 auto;
  }

}

@media screen and (max-width:800px) {
  .display-1 {
    font-size: 4.6rem;
  }

  .masonry-wrap {
    max-width: 580px;
  }

  .listing-header {
    text-align: center;
  }

  .masonry .grid-sizer,
  .masonry__brick {
    width: 100%;
    float: none;
  }

  .masonry__brick {
    padding: 0 3.6rem;
  }

  .masonry .entry {
    margin-bottom: 4rem;
  }

}

@media screen and (max-width:600px) {
  .display-1 {
    font-size: 4.2rem;
  }

  .masonry-wrap,
  .listing-header {
    width: auto;
    max-width: 500px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .masonry__brick {
    padding: 0 10px;
  }

}

@media screen and (max-width:500px) {
  .display-1 {
    font-size: 4rem;
  }

}

@media screen and (max-width:400px) {
  .display-1 {
    font-size: 3.7rem;
  }

  .media-wrap {
    margin-bottom: 5.6rem;
  }

  .masonry-wrap,
  .listing-header {
    padding-left: 22px;
    padding-right: 22px;
  }

  .masonry__brick {
    padding: 0;
  }

  .masonry .entry {
    margin-bottom: 3.2rem;
  }

}



/* ===================================================================
 * # site header
 *
 * ------------------------------------------------------------------- */
.s-wrap {
  position: relative;
}

.s-header {
  z-index: 100;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 300px;
  background-color: #151515;
  padding-top: 6.4rem;
  padding-right: 3.2rem;
  padding-left: 4.4rem;
  overflow-y: auto;
  overflow-x: hidden;
  vertical-align: top;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
}

/* -------------------------------------------------------------------
 * ## header logo
 * ------------------------------------------------------------------- */
.header__logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  transition: all 0.3s;
}

.header__logo img {
  width: 125px;
  height: 30px;
  margin: 0;
}

/* -------------------------------------------------------------------
 * ## header main navigation
 * ------------------------------------------------------------------- */
.header__nav-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-width: 100%;
  background-color: #151515;
  margin-top: 3.2rem;
}

.header__nav-wrap a {
  color: rgba(255, 255, 255, 0.6);
}

.header__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header__nav li {
  display: block;
  padding: 0 2rem 0 0;
  width: 100%;
  position: relative;
}

.header__nav li a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  line-height: 4.4rem;
}

.header__nav li.has-children {
  padding-right: 3.3rem;
}

.header__nav li.has-children > a::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 1.8rem;
  top: 21px;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.5s;
}

.header__nav li.has-children > a.sub-menu-is-open::after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.header__nav li:hover > a,
.header__nav li:focus > a {
  color: #ffffff;
}

.header__nav li:hover li,
.header__nav li:focus li {
  background: transparent;
}

.header__nav li.current > a {
  color: #ffffff;
}

.header__nav li ul {
  display: none;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  padding: 0.8rem 0 2rem 1.2rem;
}

.header__nav li ul a {
  line-height: 3.2rem;
}

/* ------------------------------------------------------------------- 
 * ## menu toggle
 * ------------------------------------------------------------------- */
.header__menu-toggle {
  display: none;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  position: absolute;
  right: 4rem;
  top: 18px;
}

.header__menu-toggle:hover,
.header__menu-toggle:focus {
  color: #ffffff;
}

.header__menu-toggle span {
  display: block;
  width: 16px;
  height: 2px;
  margin-top: -1px;
  background-color: #ffffff;
  transition: all 0.5s;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 9px;
  right: auto;
  bottom: auto;
}

.header__menu-toggle span::before,
.header__menu-toggle span::after {
  content: "";
  width: 24px;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  transition: all 0.5s;
}

.header__menu-toggle span::before {
  top: -8px;
}

.header__menu-toggle span::after {
  bottom: -8px;
}

.header__menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.1s;
}

.header__menu-toggle.is-clicked span::before,
.header__menu-toggle.is-clicked span::after {
  background-color: white;
}

.header__menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header__menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* -------------------------------------------------------------------
 * ## header social
 * ------------------------------------------------------------------- */
.header__social {
  list-style: none;
  margin: 4rem 0 0 0;
  padding: 0 0 4.4rem 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.header__social li {
  margin-right: 2px;
}

.header__social li:last-child {
  margin-right: 0;
}

.header__social a {
  display: block;
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.5);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: relative;
}

.header__social a::after {
  z-index: 1;
  content: "";
  display: block;
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
}

.header__social a:hover::after {
  height: 4rem;
  width: 4rem;
}

.header__social span {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  position: absolute;
}

.header__social .ss-github a::after {
  background-image: url(../images/icons/social/github.png);
}

.header__social .ss-facebook a::after {
  background-image: url(../images/icons/social/icon-facebook.svg);
}

.header__social .ss-twitter a::after {
  background-image: url(../images/icons/social/icon-twitter.svg);
}

.header__social .ss-dribbble a::after {
  background-image: url(../images/icons/social/icon-dribbble.svg);
}

.header__social .ss-behance a::after {
  background-image: url(../images/icons/social/icon-behance.svg);
}

.header__social .ss-instagram a::after {
  background-image: url(../images/icons/social/icon-instagram.svg);
}

.header__social .ss-pinterest a::after {
  background-image: url(../images/icons/social/icon-pinterest.svg);
}

.header__social .ss-rss a::after {
  background-image: url(../images/icons/social/icon-rss.svg);
}

/* -------------------------------------------------------------------
 * ## header search trigger
 * ------------------------------------------------------------------- */
.header__search-trigger {
  z-index: 1;
  display: block;
  color: #000000;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icons/icon-search.svg);
  position: fixed;
  right: 40px;
  top: 6.4rem;
}

.header__search-trigger::before {
  content: "";
  display: block;
  width: 1px;
  height: calc(100vh - 200px);
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 48px;
  top: auto;
  bottom: 0;
}

.header__search-trigger::after {
  content: "Search";
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 1.6rem 100%;
  transform-origin: 1.6rem 100%;
  position: absolute;
  top: 72px;
  left: 0;
}

/* ------------------------------------------------------------------- 
 * ## header-search
 * ------------------------------------------------------------------- */
.header__search {
  z-index: 400;
  display: block;
  text-align: center;
  background-color: #ffffff;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__search-form {
  width: 100%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
}

.header__search-form label {
  color: #000000;
}

.header__search-form::after {
  content: "Press Enter to begin your search.";
  display: block;
  letter-spacing: 0.6px;
  font-size: 1.6rem;
  margin-top: 3.2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.header__search-form input[type="search"] {
  background-color: transparent;
  color: #000000;
  height: auto;
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.6;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  max-width: 680px;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  margin: 0 auto;
  text-align: center;
}

.header__search-form input[type="search"]::-webkit-input-placeholder {

  /* WebKit, Blink, Edge */
  color: #000000;
}

.header__search-form input[type="search"]:-moz-placeholder {

  /* Mozilla Firefox 4 to 18 */
  color: #000000;
  opacity: 1;
}

.header__search-form input[type="search"]::-moz-placeholder {

  /* Mozilla Firefox 19+ */
  color: #000000;
  opacity: 1;
}

.header__search-form input[type="search"]:-ms-input-placeholder {

  /* Internet Explorer 10-11 */
  color: #000000;
}

.header__search-form input[type="search"]::-ms-input-placeholder {

  /* Microsoft Edge */
  color: #000000;
}

.header__search-form input[type="search"]::placeholder {

  /* Most modern browsers support this now. */
  color: #000000;
}

.header__search-form input[type="search"].placeholder {
  color: #000000 !important;
}

.header__search-form input[type="search"]:focus {
  outline: none;
}

.header__search-form input[type="submit"] {
  display: none;
}

body.search-is-visible {
  overflow: hidden;
}

.search-is-visible .header__search {
  opacity: 1;
  visibility: visible;
}

/* ------------------------------------------------------------------- 
 * ## close button for search 
 * ------------------------------------------------------------------- */
.header__search-close {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  top: 21px;
  left: 50%;
  margin-left: -23px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.header__search-close::before,
.header__search-close::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 20px;
  top: 12px;
  left: 22px;
  background-color: #000000;
}

.header__search-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__search-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */
@media screen and (max-width:1600px) {
  .s-header {
    width: 290px;
  }

}

@media screen and (max-width:1200px) {
  .s-header {
    width: 270px;
    padding-right: 2.8rem;
    padding-left: 4rem;
  }

  .header__nav {
    font-size: 15.5px;
  }

}

@media screen and (max-width:1100px) {
  .s-header {
    width: 100%;
    background: transparent;
    padding: 0;
    position: static;
    top: 0;
    bottom: auto;
  }

  .header__top {
    z-index: 100;
    background: #111111;
    width: 100%;
    height: 78px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .header__logo {
    margin-top: 4px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    position: absolute;
    top: 50%;
    left: 4rem;
  }

  .header__logo img {
    width: 120px;
    height: 29px;
  }

  .header__nav-wrap {
    z-index: 99;
    background: #151515;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 164px 60px 64px;
    overflow-y: auto;
  }

  .nav-wrap-is-visible .header__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  }

  .nav-wrap-is-visible .header__nav-wrap {
    opacity: 1;
    visibility: visible;
  }

  .nav-wrap-is-visible .header__search-trigger {
    display: none;
  }

  .header__nav {
    font-size: 20px;
    border-top: 1px dotted rgba(255, 255, 255, 0.04);
  }

  .header__nav > li {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.04);
  }

  .header__nav > li > a {
    line-height: 7.2rem;
  }

  .header__nav li.has-children > a::after {
    top: 32px;
  }

  .header__nav li ul {
    font-size: 12px;
  }

  .header__nav li ul a {
    line-height: 4rem;
  }

  .header__menu-toggle {
    z-index: 101;
    display: block;
  }

  .header__search-trigger {
    background-image: url(../images/icons/icon-search-w.svg);
    height: 20px;
    width: 20px;
    top: 29px;
    right: 9.8rem;
  }

  .header__search-trigger::before,
  .header__search-trigger::after {
    display: none;
  }

  .header__social {
    margin-top: 8rem;
  }

  .header__social a {
    height: 5rem;
    width: 5rem;
  }

}

@media screen and (max-width:900px) {
  .header__search-form::after {
    font-size: 1.5rem;
  }

  .header__search-form input[type="search"] {
    max-width: none;
    width: 75%;
    font-size: 4.2rem;
  }

}

@media screen and (max-width:800px) {
  .header__nav {
    font-size: 18px;
  }

  .header__nav > li > a {
    line-height: 6.8rem;
  }

  .header__nav li.has-children > a::after {
    top: 30px;
  }

  .header__nav li ul {
    font-size: 11px;
  }

}

@media screen and (max-width:600px) {
  .header__search-form input[type="search"] {
    font-size: 3.4rem;
  }

}

@media screen and (max-width:500px) {
  .header__nav-wrap {
    padding: 152px 44px 64px;
  }

}

@media screen and (max-width:400px) {
  .header__logo {
    left: 3rem;
  }

  .header__nav-wrap {
    padding: 140px 40px 64px;
  }

  .header__menu-toggle {
    right: 3rem;
  }

  .header__search-trigger {
    right: 8.8rem;
  }

  .header__search-form input[type="search"] {
    font-size: 2.6rem;
  }

}



/* ===================================================================
 * # site content & footer 
 *
 * ------------------------------------------------------------------- */
.s-content,
.s-footer {
  padding-left: 330px;
  padding-right: 100px;
  max-width: 2140px;
}

/* -------------------------------------------------------------------
 * ## content
 * ------------------------------------------------------------------- */
.s-content {
  padding-top: 6.4rem;
}

.content__page {
  max-width: 900px;
  padding-bottom: 12rem;
}

.content__page img {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.content__page-header {
  text-align: center;
  margin-bottom: 4rem;
}

/* -------------------------------------------------------------------
 * ## footer
 * ------------------------------------------------------------------- */
.s-footer {
  padding-top: 4rem;
  padding-bottom: 8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.s-footer a {
  color: #000000;
}

/* -------------------------------------------------------------------
 * ## copyright
 * ------------------------------------------------------------------- */
.footer__copyright span {
  display: inline-block;
}

.footer__copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1.2rem 0 1.4rem;
  color: rgba(0, 0, 0, 0.3);
}

.footer__copyright span:last-child::after {
  display: none;
}

/* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */
.go-top {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
  transition: all 0.8s;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
}

.go-top a,
.go-top a:visited {
  text-decoration: none;
  border: none;
  display: block;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  background-image: url(../images/icons/icon-arrow-up.svg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px 14px;
}

.go-top.link-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * site content & footer
 * ------------------------------------------------------------------- */
@media screen and (max-width:1600px) {
  .s-content,
  .s-footer {
    padding-left: 320px;
  }

}

@media screen and (max-width:1200px) {
  .s-content,
  .s-footer {
    padding-left: 290px;
    padding-right: 80px;
  }

}

@media screen and (max-width:1100px) {
  .s-content,
  .s-footer {
    padding-right: 0;
    padding-left: 0;
  }

  .s-content {
    padding-top: 14.2rem;
  }

  .content__page {
    padding-bottom: 8rem;
  }

  .go-top {
    bottom: 0;
    right: 0;
  }

}

@media screen and (max-width:600px) {
  .s-content {
    padding-top: 12.6rem;
  }

  .content__page {
    padding-bottom: 4rem;
  }

  .footer__copyright span {
    display: block;
  }

  .footer__copyright span::after {
    display: none;
  }

}



/* ===================================================================
 * # blog styles and blog components
 *
 * ------------------------------------------------------------------- */
.entry__media,
.entry__post-thumb {
  position: relative;
}

/* -------------------------------------------------------------------
 * ## entry header meta
 * ------------------------------------------------------------------- */
.entry__header-meta {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.778;
  margin-left: 0;
  color: #000000;
}

.entry__header-meta li {
  display: inline-block;
  padding-left: 0;
  margin: 0 0.8rem;
}

.entry__header-meta a {
  color: rgba(0, 0, 0, 0.7);
}

.entry__header-meta a:hover,
.entry__header-meta a:focus {
  color: #000000;
}

.entry__header-meta .cat-links a::after {
  content: ", ";
}

.entry__header-meta .cat-links a:last-child::after {
  display: none;
}

/* -------------------------------------------------------------------
 * ## post tags
 * ------------------------------------------------------------------- */
.entry__tags {
  margin-top: 6rem;
  font-family: "Heebo", sans-serif;
}

.entry__tags span {
  font-weight: 500;
  color: #000000;
  padding-right: 56px;
  margin-right: 1.6rem;
  position: relative;
}

.entry__tags span::after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  right: 0;
}

.entry__tags .entry__tag-list {
  display: inline-block;
  padding-right: 0;
  margin-right: 0;
}

.entry__tags .entry__tag-list::after {
  display: none;
}

.entry__tags .entry__tag-list a {
  display: inline-block;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: inherit;
  color: #1a1a1a;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 8px;
  padding: 1px 12px;
}

.entry__tags .entry__tag-list a:hover,
.entry__tags .entry__tag-list a:focus {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.entry__tags .entry__tag-list a:last-child {
  margin-right: 0;
}

/* -------------------------------------------------------------------
 * ## blog single page navigation
 * ------------------------------------------------------------------- */
.entry__pagenav {
  margin-top: 10.2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.entry__nav:after {
  content: "";
  display: table;
  clear: both;
}

.entry__nav span {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #1a1a1a;
  margin-bottom: 1.6rem;
  transition: all 0.3s;
}

.entry__nav a {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.333;
  color: #000000;
}

.entry__nav a:hover span,
.entry__nav a:focus span {
  color: #33998a;
}

.entry__prev,
.entry__next {
  width: 50%;
  float: left;
  padding-right: 2rem;
}

/* -------------------------------------------------------------------
 * ## related articles
 * ------------------------------------------------------------------- */
.entry__related {
  margin-top: 10.2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.entry__related h3 {
  margin-top: 0;
  margin-bottom: 3.2rem;
}

.entry__related h5 {
  margin-top: 0.8rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.related {
  list-style: none;
  margin-left: -4rem;
}

.related__item {
  float: left;
  width: 33.33333%;
  padding-left: 4rem;
  margin-bottom: 3.2rem;
}

.related__link {
  display: block;
  position: relative;
}

.related__link img {
  vertical-align: bottom;
}

.related__link::before {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.related__link:hover::before {
  opacity: 1;
  visibility: visible;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * blog styles and blog components
 * ------------------------------------------------------------------- */
@media screen and (max-width:800px) {
  .entry__header-meta {
    font-size: 1.7rem;
  }

  .entry__prev,
  .entry__next {
    width: auto;
    float: none;
    padding-right: 0;
  }

  .entry__nav [class*="entry__"] + [class*="entry__"] {
    margin-top: 2rem;
  }

  .related {
    margin-left: -4.4rem;
  }

  .related__item {
    padding-left: 4.4rem;
    width: 50%;
  }

  .related__item:nth-child(2n + 1) {
    clear: both;
  }

}

@media screen and (max-width:600px) {
  .related {
    margin-left: -2rem;
  }

  .related__item {
    padding-left: 2rem;
  }

}

@media screen and (max-width:460px) {
  .related {
    margin-left: 0;
  }

  .related__item {
    float: none;
    width: auto;
    padding-left: 0;
  }

}

/* -------------------------------------------------------------------
 * ## comments 
 * ------------------------------------------------------------------- */
.comments-wrap {
  padding: 6.4rem 0 0 0;
  background-color: #ffffff;
}

.comments-wrap h3 {
  margin-top: 0;
}

.comments-wrap h3 span {
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.556;
  color: #7e7e7e;
}

/* comments
 * -------------------------------------------------- */
#comments {
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#comments ol,
#comments ul {
  list-style: none;
}

.commentlist {
  margin: 6rem 0 5.6rem;
  padding: 0;
}

.commentlist > .comment {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 2rem 0 0 0;
  padding-left: 14%;
}

.comment__avatar {
  position: absolute;
  left: 0;
  display: block;
}

.comment__avatar img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 100%;
  vertical-align: bottom;
}

.comment__info {
  position: relative;
}

.comment__info .comment__author {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 1.684;
  font-style: normal;
  color: #000000;
}

.comment__meta {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  line-height: 2.4rem;
  display: block;
  color: #7e7e7e;
  text-align: right;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
}

.comment__meta .comment__time {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #7e7e7e;
}

.comment__meta .comment__reply a {
  font-size: 1.3rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #000000;
}

.comment__text {
  clear: both;
  margin: 1.6rem 0 0 0;
  padding: 0 175px 0 0;
}

.comment ul.children {
  margin: 0;
  padding: 0;
}

.comment ul.children li {
  padding-left: 5%;
  margin-top: calc(3.2rem + 2rem);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

/* comments form
 * ---------------------------- */
.comments-wrap .comment-respond {
  margin-top: 6.4rem;
}

.comment-respond form {
  padding-top: 6rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * comments
 * ------------------------------------------------------------------- */
@media screen and (max-width:1000px) {
  .comment__avatar img {
    height: 6rem;
    width: 6rem;
  }

  .comment__meta {
    text-align: left;
    width: auto;
    position: static;
  }

  .comment__meta .comment__time,
  .comment__meta .comment__reply {
    display: inline-block;
  }

  .comment__meta .comment__time {
    margin-right: 12px;
  }

  .comment__text {
    padding: 0;
  }

  .comments-wrap .comment-respond {
    margin-top: 4.4rem;
  }

}

@media screen and (max-width:800px) {
  .comment__avatar img {
    margin-top: 0;
    height: 5.2rem;
    width: 5.2rem;
  }

}

@media screen and (max-width:600px) {
  .commentlist > .comment {
    padding-top: 0;
    padding-left: 0;
  }

  .comment__avatar {
    display: none;
  }

  .comment ul.children li {
    margin-top: calc(3.2rem + 0rem);
  }

}

@media screen and (max-width:500px) {
  .comment ul.children li {
    border-left: none;
  }

}

@media screen and (max-width:400px) {
  .comment-respond form {
    padding-top: 3.2rem;
  }

}

/* -------------------------------------------------------------------
 * ## format gallery
 * ------------------------------------------------------------------- */
.format-gallery .entry__thumb {
  overflow: hidden;
}

.format-gallery .slider {
  overflow: hidden;
}

.format-gallery .slick-dots {
  text-align: left;
  margin: 0;
  padding: 0 2rem 0 2.4rem;
  position: absolute;
  top: auto;
  bottom: 2.4rem;
  left: 0;
}

.format-gallery .slider__slides {
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.format-gallery .slider__slides.slick-initialized {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=main.css.map */
